include ../main_menu

+main-menu
    .block.group-title Mon établissement
    +menu-item(data-target="establishment").selected Aperçu
    +menu-item(data-target="establishment-information") Information
    +menu-item(data-target="applicants") Postulants
    +menu-item(data-target="requests") Demandes

    .block.group-title
    +menu-item(data-target="account") Mon compte