div(class=process.env.APP_CSS_CLASS).molecule.copyright
    .inner
        span Copyright © #{(new Date()).getFullYear()}
        span(style="margin: 0 3px 0 17px;") |
        span(style="padding: 5px;") SCHEEPHRA & PUA SERVICE