footer(class=process.env.APP_CSS_CLASS)
    .page-inner
        .elevated
            .col.google-map.
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3967.0186403165067!2d1.2180042144930925!3d6.128193595562839!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1023e1dd1096455d%3A0xd2a354e2ed72d7a3!2sDirection%20De%20La%20Pharmacie%20Du%20M%C3%A9dicament%20Et%20Des%20Laboratoires!5e0!3m2!1sfr!2stg!4v1643906596593!5m2!1sfr!2stg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            .col
                .item
                    .title
                        span.icofont-location-pin.prefix
                        span Adresse
                    .value
                        p
                            strong Diretion de la Pharmacie, du Médicament et des Laboratoires
                        p Avenue du 2 Février, Lomé-Togo
            .col
                .item
                    .title
                        span.icofont-ui-call.prefix
                        span Téléphone / Fax
                    .value
                        p (+228) 22 22 07 99
                .item
                    .title
                        span.icofont-envelope.prefix
                        span Email
                    .value
                        p dpml@dpmltogo.org
        .copyright
            .inner
                span Copyright © #{(new Date()).getFullYear()}
                span |
                span SCHEEPHRA & PUA SERVICE