include ../atoms/menu_item
include ../atoms/button

mixin main-menu()
    div(class=process.env.APP_CSS_CLASS).main-menu&attributes(attributes)
        .inner
            .header
                .inner
                    .block.auth
                        .user
                            .name
                                span #{user_data._last_name} #{user_data._first_name}
                            .identifier
                                span.fi.fi-rr-user.prefix
                                span.name #{user_data._identifier}
                        .logout
                            +button
                                span.fi.fi-rr-power
            .menu-items
                block