mixin rows-manager()
    .mt.rows-manager
        .mt.input.filled
            span.icofont-search.prefix
            input(type="text" name="searched" placeholder="Rechercher")
        div
            a.adder
                span.icofont-plus
            a.group-deleter
                span.icofont-ui-delete