include ../../atoms/form/fields/short_text
include ../../atoms/form/fields/dynamic_select

+short-text(type="text" name="_last_name" placeholder="Nom")
+short-text(type="text" name="_first_name" placeholder="Prénom(s)")
+short-text(type="text" name="_email" placeholder="Email")
+dynamic-select(type="text" name="_country" placeholder="Pays de résidence")
+short-text(type="text" name="_telephone" placeholder="Téléphone")
+short-text(type="text" name="_city" placeholder="Ville")
+short-text(type="text" name="_address" placeholder="Adresse")