mixin push-button()
    div(class=process.env.APP_CSS_CLASS).atom.button.push-button&attributes(attributes)
        .inner
            block
        .layer.loading
            img(src="/assets/media/loading.gif" alt="")