extends ../templates/page

block append head
    link(rel="stylesheet" href="/assets/css/releases/home.min.css")

block append body
    include ../molecules/header
    include ../molecules/footer

block append scripts
    script(type="text/javascript" src="/assets/js/releases/home.min.js")