extends ../templates/page

block append head
    link(rel="stylesheet" href="/assets/lib/leaflet/leaflet.css")
    link(rel="stylesheet" href="/assets/css/releases/map.min.css")

block append body
    .v-block.map
        .pharmacies-map
            .inner
    div(class=process.env.APP_CSS_CLASS).home-menu-bar
        .inner
            a(class=process.env.APP_CSS_CLASS).atom.button.rocker
                span.text MENU
                span.icofont-simple-right.prefix
            nav.menu
                a(href="/" + lang + "/user/login" class={selected: (page_id === "user_login")}).menu-item.login Se connecter
                a(href="/" + lang + "/user/sign-up" class={selected: (page_id === "user_sign_up")}).menu-item.sign-up Ouvrir ma pharmacie

block append scripts
    script(type="text/javascript" src="/assets/lib/leaflet/leaflet.js")
    script(type="text/javascript" src="/assets/js/releases/map.min.js")