include ../../../atoms/form/fields/short_text
include ../../../atoms/form/fields/dynamic_select

+dynamic-select(type="text" name="_legal_form" placeholder="Forme légale")
+short-text(type="text" name="_denomination" placeholder="Dénomination")
+dynamic-select(type="text" name="_main_applicant" placeholder="Postulant principal")
+short-text(type="number" name="_main_applicant_address" placeholder="Adresse du postulant principal")