include ../../../atoms/form/fields/short_text
include ../../../atoms/form/fields/dynamic_select

+short-text(type="telephone" name="_telephone" placeholder="Téléphone")
+short-text(type="text" name="_address" placeholder="Adresse")
