include ../../../atoms/form/fields/short_text
include ../../../atoms/form/fields/dynamic_select

+dynamic-select(type="text" name="_prefecture" placeholder="Préfecture")
+dynamic-select(type="text" name="_town" placeholder="Ville")
+dynamic-select(type="text" name="_town_ship" placeholder="Canton")
+dynamic-select(type="text" name="_health_district" placeholder="District sanitaire")
+short-text(type="text" name="_village" placeholder="Village")
+short-text(type="number" name="_latitude" placeholder="Latitude")
+short-text(type="number" name="_longitude" placeholder="Longitude")